@media screen and (min-width: 1200px) {
  .navigation_bar {
    .ipad-mob-logo {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 1024px) {
  .ipad-mob-logo {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .links_container {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .alert {
    font-size: 12px;
  }
  .navigation_bar {
    .logo {
      img {
        display: none;
        visibility: hidden;
      }
      .menu {
        display: block;
        visibility: visible;
      }
    }
    .ipad-mob-logo {
      display: block;
      visibility: visible;
    }
  }
  .links_container {
    display: none;
    visibility: hidden;
  }

  .banner_image {
    width: 100vw;
    height: 280px;
    overflow-x: scroll;
    column-gap: 20px;
  }

  .banner {
    min-width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .shop_by_categories {
    h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 24px;
    }
    .categories_listing {
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: space-evenly;
      .category {
        width: calc(100% / 3);
        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
          border: 3px solid var(--primary);
        }
        p {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  .shop_by_best_seller {
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .products_listing {
      width: 100%;
      flex-wrap: wrap;
      column-gap: 0px;
      .product_card {
        position: relative;
        width: calc(100% / 2);
        .card_header {
          .tag {
            position: absolute;
            top: 20px;
            left: 20px;
          }
          img {
            width: 100%;
          }
        }

        .card_body {
          padding: 15px;
          box-sizing: border-box;
          h3 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          h4 {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 400;
          }
          .ratings {
            margin-bottom: 10px;
            font-weight: 400;
          }
          p {
            font-size: 12px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .cart_container {
    flex-direction: column;

    .product_item {
      height: 100px;
    }

    .cart_items_listing {
      width: 100%;
      margin-bottom: 50px;
      .cart_product_card {
        img {
          display: none;
          visibility: hidden;
        }
      }
    }

    .cart_total_calculator {
      width: 100%;
    }
  }
}
